$color-button: #1abc9c;
$color-accent: #2c3e50;
$color-input: #fff;

.error {
  width: 100%;
  color: red;
  padding: 0;
  margin: 0;
}
.sign-form {
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
}

input:not([type="radio"]) {
  background-color: $color-input;
  display: block;
  transition: 300ms ease;
  border-radius: 7px;
  border: 0;
  max-height: 40px;
  margin: 30px 0 20px 0;
  padding: 13px;
  overflow: hidden;
  width: 92%;
  opacity: 0.8;
  font-size: 16px;
  text-align: center;
  outline: 0;
}

button {
  margin-top: 20px;
  border: none;
  outline: none;
  width: 50%;
  height: 45px;
  border-radius: 7px;
  background-color: $color-button;
  font-size: 0;
  cursor: pointer;
  transition: all 0.25s ease;
  &:not([disabled]):hover {
    background-color: lighten($color-button, 3%);
  }
  &[disabled]{
    background-color: darken($color-button, 3%);
    cursor: no-drop;
  }
  &:before {
    font-size: 16px;
  }
}

.linkSignForm {
  text-decoration: none;
  font-size: 18px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  color: $color-input;
  opacity: 0.5;
  transition: 0.3s ease;
  width: calc(100% / 3 - 4px);
}
.linkSelected {
  color: $color-accent;
  opacity: 1;
  &:after {
    border-bottom-color: $color-accent;
  }
}

fieldset {
  padding-top: 10px;
  position: relative;
  width: 25%;
  height: 38%;
  min-height: 320px;
  min-width: 360px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #E0EAFC;
}
