.wrapper {
  background: #2980B9;
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
}
.error {
  width: 100%;
  color: red;
  padding: 0;
  margin: 0;
}

.input-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}
.input-error {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
}
