.categories {
  margin: 20px 0;
  text-align: center; }
  .categories .container {
    display: inline-block;
    width: 8%;
    position: relative;
    padding: 0;
    margin: 0 25px;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    user-select: none; }
  .categories .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .categories .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 55px;
    min-width: 70px;
    margin: 0 0 10px 0;
    padding: 8px;
    color: #fff;
    font-weight: 500;
    background-color: #90CAF9;
    border-radius: 50% 50%;
    transition: all 0.45s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .categories .container:hover input ~ .checkmark {
    background-color: #29B6F6; }
  .categories .container input:checked ~ .checkmark {
    background-color: #03A9F4;
    color: #fff;
    transform: scale(1.1); }
  .categories .container:hover input:checked ~ .checkmark {
    background-color: #14b4fc; }
