.player {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  background: #f0f9ff;
  background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
  z-index: 100;

  padding: 20px 5%;
  .poster {
    margin: -10px 30px 0 30px;
    max-width: 90px;
    height: auto;
  }
  .track-input-range {
    margin: 0;
    width: 25%;
    .track-info {
      font-family: 'Roboto', sans-serif;
      font-size: 17px;
      text-align: center;
      margin-bottom: 5px;
    }
  }

  .track-input-volume {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
    width: 360px;
    padding: 0;
    transition: all 0.5s ease;
    .input-range {
      margin-left: 6px;
      display: inline-block;
      width: 140px;
      height: 40px;
      &__label.input-range__label--value {
        padding: 0;
        color: #000;
        font-size: 14px;
        margin: 30px 0 0 0;
      }
      &__track{
        height: 5px;
        border-radius: 5px;
      }
    }
    button {
      display: inline-block;
      width: 30px;
      border-radius: 25px;
      .fa.fa-volume-up:before {
        position: absolute;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
      .fa.fa-volume-off:before {
        position: absolute;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
    }
  }
  .circle-left {
    margin-left: 30px;
  }

  .panel-control {
    padding: 0;
    margin: 5px 0 0 0;
    width: 50%;
    text-align: center;
    button {
      width: 30px;
      border-radius: 25px;
      .fa.fa-random:before {
        position: absolute;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
      .fa.fa-random.is-shuffle:before {
        color: #5087ED;
      }
      .fa.fa-repeat:before {
        position: absolute;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
      .fa.fa-repeat.is-repeat:before {
        color: #5087ED;
      }
      .fa.fa-heart:before {
        position: absolute;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
      .fa.fa-heart.liked:before {
        color: red
      }
      .fa.fa-arrow-circle-left:before {
        position: absolute;
        font-size: 35px;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
      .fa.fa-arrow-circle-right:before {
        position: absolute;
        font-size: 35px;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
      .fa.fa-play-circle:before {
        position: absolute;
        font-size: 35px;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
      .fa.fa-stop-circle:before {
        position: absolute;
        font-size: 35px;
        color: #5AB4E0;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
    }
  }
}

